In [1]:
import pandas as pd
import pyarrow

In [9]:
peliculas_df = pd.read_csv('/Users/pabloclementi/Desktop/Proyecto1/Proyecto_1_henry/Proyecto_1_Henry/data/Movies_Limpio.csv')
crew_df = pd.read_csv('/Users/pabloclementi/Desktop/Proyecto1/Proyecto_1_henry/Proyecto_1_Henry/data/credits_Limpio.csv')

In [10]:
#Debemos realizar un left join , a traves de la columna id. 
peliculas_crew_df = pd.merge(peliculas_df, crew_df, on='id', how='left')
# peliculas_crew_df.to_csv('peliculas_crew_df.csv', index=False)

In [11]:
df_recomendaciones_final2 = pd.read_csv('/Users/pabloclementi/Desktop/Proyecto1/Proyecto_1_henry/Proyecto_1_Henry/data/df_recomendacion_final.csv')

In [12]:
df_recomendaciones_final2
df_recomendaciones_final2.columns

Index(['Unnamed: 0', 'id', 'spoken_languagesname', 'genresname', 'title',
       'vote_average', 'status', 'production_countriesname', 'release_year',
       'director', 'actor', 'clean_title', 'clean_overview',
       'combined_features'],
      dtype='object')

In [13]:
columnas_eliminar = ['Unnamed: 0','spoken_languagesname', 'genresname','status', 'production_countriesname', 'release_year',
       'director', 'actor','title','vote_average']

In [14]:
df_recomendaciones_final2.drop(columnas_eliminar, axis=1, inplace=True)

In [15]:
df_recomendaciones_final2.columns

Index(['id', 'clean_title', 'clean_overview', 'combined_features'], dtype='object')

In [16]:
#ahora join a traves del id con el dataset peliculas crew
df_recomendaciones_final3 = pd.merge(df_recomendaciones_final2, peliculas_crew_df, on='id', how='left')

In [17]:
df_recomendaciones_final3.columns

Index(['id', 'clean_title', 'clean_overview', 'combined_features',
       'spoken_languagesname', 'genresname', 'title', 'budget', 'revenue',
       'overview', 'release_date', 'vote_average', 'vote_count', 'popularity',
       'runtime', 'status', 'tagline', 'production_companiesname',
       'production_countriesname', 'release_year', 'return', 'director',
       'actor'],
      dtype='object')

In [18]:
columnas_eliminar1 = ['spoken_languagesname', 'overview','popularity','runtime','status','tagline','production_companiesname','production_countriesname']

In [20]:
#df_recomendaciones_final3.drop(columnas_eliminar1, axis=1, inplace=True)
df_recomendaciones_final3.shape 
df_recomendaciones_final3.to_parquet('testfinal.parquet',index=True)

In [21]:
test= pd.read_parquet('testfinal.parquet')
test.head()

,id,clean_title,clean_overview,combined_features,spoken_languagesname,genresname,title,budget,revenue,overview,...,popularity,runtime,status,tagline,production_companiesname,production_countriesname,release_year,return,director,actor
0,120676,['circle'],"['silent', 'comedy', 'deja', 'vu', 'story', 'r...","['circle'] ['silent', 'comedy', 'deja', 'vu', ...",None,Comedy,The Circle,0.0,0.0,Silent comedy. A deja vu story of runaway youn...,...,0.132439,66.0,Released,SinDato,Metro-Goldwyn-Mayer (MGM),United States of America,1925.0,0.0,Frank Borzage,"Eleanor Boardman, Malcolm McGregor, Alec B. Fr..."
1,176297,"['dead', 'set']","['fictional', 'series', 'big', 'brother', 'zom...","['dead', 'set'] ['fictional', 'series', 'big',...",English,"Comedy, Horror, Drama",Dead Set,0.0,0.0,"During a fictional series of Big Brother, a zo...",...,4.879630,141.0,Released,SinDato,SinDato,United Kingdom,2008.0,0.0,Yann Demange,"Jaime Winstone, Andy Nyman, Davina McCall, Riz..."
2,86541,"['ghost', 'graduation']","['teacher', 'paranormal', 'abilities', 'helps'...","['ghost', 'graduation'] ['teacher', 'paranorma...",Español,Comedy,Ghost Graduation,0.0,0.0,A teacher with paranormal abilities helps a gr...,...,2.801721,88.0,Released,SinDato,Think Studio,Spain,2012.0,0.0,Javier Ruiz Caldera,"Raúl Arévalo, Alexandra Jiménez, Andrea Duro, ..."
3,60489,"['last', 'patrol']","['massive', 'earthquake', 'destroys', 'angeles...","['last', 'patrol'] ['massive', 'earthquake', '...",English,"Action, Science Fiction, Thriller, Drama",The Last Patrol,3000000.0,0.0,After a massive earthquake destroys Los Angele...,...,3.095364,95.0,Released,After the final earthquake... welcome to the i...,Silverline Pictures,Israel,2001.0,0.0,Sheldon Lettich,"Dolph Lundgren, Sherri Alexander, Joe Michael ..."
4,434,"['tough', 'enough']","['youth', 'directed', 'novel', 'name', 'greogo...","['tough', 'enough'] ['youth', 'directed', 'nov...",Deutsch,"Thriller, Drama",Tough Enough,0.0,0.0,From the youth directed novel of the same name...,...,1.634982,99.0,Released,SinDato,Boje Buck Produktion,Germany,2006.0,0.0,Detlev Buck,"David Kross, Jenny Elvers, Erhan Emre, Oktay Ö..."

In [5]:
moviesfinal= pd.read_csv('data/testfinal.csv')
moviesfinal.columns

Index(['Unnamed: 0', 'id', 'clean_title', 'clean_overview',
       'combined_features', 'genresname', 'title', 'budget', 'revenue',
       'release_date', 'vote_average', 'vote_count', 'release_year', 'return',
       'director', 'actor'],
      dtype='object')

In [7]:
#Eliminamos columnas que no usamos 
columnas_eliminar2 = ['Unnamed: 0','clean_title','clean_overview','combined_features','genresname',]
moviesfinal.drop(columnas_eliminar2, axis=1, inplace=True)
moviesfinal.columns
moviesfinal.to_csv('moviesfinal.csv',index=False)

In [8]:
moviesfinal.columns

Index(['id', 'title', 'budget', 'revenue', 'release_date', 'vote_average',
       'vote_count', 'release_year', 'return', 'director', 'actor'],
      dtype='object')

In [25]:
modelo_final = pd.read_parquet('testfinal.parquet')
modelo_final.columns
columnas_eliminar =  ['clean_title','clean_overview','genresname','budget', 'revenue','release_date', 'vote_average', 'vote_count', 'release_year', 'return','director', 'actor']

In [26]:
modelo_final.columns

Index(['id', 'clean_title', 'clean_overview', 'combined_features',
       'spoken_languagesname', 'genresname', 'title', 'budget', 'revenue',
       'overview', 'release_date', 'vote_average', 'vote_count', 'popularity',
       'runtime', 'status', 'tagline', 'production_companiesname',
       'production_countriesname', 'release_year', 'return', 'director',
       'actor'],
      dtype='object')

In [27]:
modelo_final.drop(columnas_eliminar, axis=1, inplace=True)

In [28]:
modelo_final.columns
# modelo_final.to_csv('modelo_final.csv',index=False)

Index(['id', 'combined_features', 'spoken_languagesname', 'title', 'overview',
       'popularity', 'runtime', 'status', 'tagline',
       'production_companiesname', 'production_countriesname'],
      dtype='object')

In [29]:
columnas_eliminar =  ['spoken_languagesname','overview',
       'popularity', 'runtime', 'status', 'tagline',
       'production_companiesname', 'production_countriesname']

In [30]:
modelo_final.drop(columnas_eliminar, axis=1, inplace=True)

In [33]:
modelo_final.to_csv('/Users/pabloclementi/Desktop/Proyecto1/Proyecto_1_henry/Proyecto_1_Henry/data/modelofinal2.csv',index= False)

In [18]:
#Tomar una muestra de 5000 del data frame modelo_final para aplicar el modelo en render 
modelo_final_5000 = modelo_final.sample(n=5000)
modelo_final_5000.to_csv('modelo_final_5000.csv',index=False)
modelo_final_5000

(5000, 3)

In [2]:
import pandas as pd

# Cargar el DataFrame desde un archivo CSV
df = pd.read_csv('data/testfinal.csv')


# Ordenar el DataFrame por 'vote_average' en orden descendente
df_sorted = df.sort_values(by='vote_average', ascending=False)

# Seleccionar las primeras 5000 filas
top_5000_movies = df_sorted.head(5000)
columnas_eliminar =  ['Unnamed: 0','clean_title','clean_overview','genresname','budget', 'revenue','release_date', 'vote_average', 'vote_count', 'release_year', 'return','director', 'actor']


top_5000_movies.drop(columnas_eliminar, axis=1, inplace=True) 
#Mostramos dataframe 
top_5000_movies

# # Opcional: Guardar el DataFrame resultante en un nuevo archivo CSV
# # top_5000_movies.to_csv('ruta/al/nuevo_archivo.csv', index=False)

/var/folders/4k/b142n1x53kq0891h836m2hh80000gn/T/ipykernel_73522/4123759272.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_5000_movies.drop(columnas_eliminar, axis=1, inplace=True)

,id,combined_features,title
25694,86594,"['search', 'ancient', 'astronauts'] ['edited',...",In Search of Ancient Astronauts
3658,71508,"['taming', 'shrew'] ['baptista', 'two', 'daugh...",The Taming of the Shrew
21157,114423,"['canal', 'zone'] ['canal', 'zone', 'people', ...",Canal Zone
12100,170078,"['maula', 'jat'] ['maula', 'jat', 'tells', 'tr...",Maula Jat
1219,162821,"['nocturne', 'indien'] ['enigmatic', 'vivid', ...",Nocturne Indien
...,...,...,...
14349,69903,"['greatest'] ['greatest', 'film', 'life', 'box...",The Greatest
2313,19908,"['zombieland'] ['columbus', 'made', 'habit', '...",Zombieland
24432,1278,"['dreamers'] ['young', 'american', 'studying',...",The Dreamers
32470,29577,"['riviera'] ['remake', 'muarice', 'chavlier', ...",On the Riviera
14337,11426,"['eternity'] ['hawaii', 'private', 'cruelly', ...",From Here to Eternity

In [3]:
top_5000_movies.to_csv('top_5000_movies.csv', index=False)